*{
	margin: 0;
	padding: 0;
}
fieldset{
	border-radius: .5em;
	margin: auto;
	text-align: center;
	width: 600px;
}
input[type="submit"]{
	border-radius: .5em;
}
legend{
	text-align: left;
}
p{
	text-align: center;
}
.registrado{
	background: #323e4a;
	color: white;
	border-radius: .5em;
	height: 200px;
	margin: 0 auto;
	width: 600px;
}
.registrados{
	background: red;
	border-radius: .5em;
	height: 70px;
	margin: 0 auto;
	width: 600px;
}
table{
	margin: auto;
}